# SQL 1/3
> Cours IMT Mines 12-2020

- categories: [Cours IMT Mines 12-2020, Bases de données, SGBR-R, SQL, TP]

# Découverte de Google Colaboratory


### Quelques astuces avant de débuter le notebook SQL

Rappel : Pour modifier une cellule : Double-cliquez (ou appuyez sur Entrée)

Pour connecter son espace Google Drive et donc ensuite pouvoir : 

**- récupérer un fichier** prélablement enregistré

**- sauvegarder un résultat**

**- rendre persistant un fichier** que nous ré-utiliserons plus tard dans un autre notebook

In [1]:
from google.colab import drive
# drive.mount('/content/gdrive')
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [ ]:
# Pour récupérer dans votre notebook Google Colaboratory un fichier situé sur votre poste de travail :
from google.colab import files
files.upload()



Pour afficher le contenu du répertoire courant dans notre notebook :

In [ ]:
%ls

'Description des tables pour le TP SQL N°1.xlsx'   gdrive/   sample_data/

***Attention, le contexte de travail d'un notebook n'est pas persistant : ***

si vous relancez ou redémarrez un environnement d'exécution, les données de la dernière fois ne seront plus présentes, d'où l'intérêt de travailler sur un espace Google Drive si besoin de conserver des fichiers de façon permanente.


Remarque : Pour supprimer un fichier si besoin :

%rm **chemin_et_nom_du_fichier_à_supprimer**

Pour se placer dans le répertoire de travail Partage dans mon Drive Google :

c'est-à-dire en réalité, vu de mon notebook, dans /content/gdrive/MyDrive/Partage :

In [2]:
# Pour se placer dans le répertoire de travail /content/gdrive/MyDrive/Partage :
%cd /content/gdrive/MyDrive/Partage/ 
%ls 

# Si beoin de supprimer les fichiers "livre*" déjà présents dans le répertoire de travail /content/gdrive/MyDrive/Partage 
# %rm /content/gdrive/MyDrive/Partage/livre*.*

/content/gdrive/MyDrive/Partage
demo.7z  livres1_db  livres_AF.db  Notebooks_Serie_1/

In [ ]:
# Pour télécharger, sur votre poste de travail, le fichier /content/gdrive/MyDrive/Partage/livres_db créé dans le notebook :

# from google.colab import files
# files.download('/content/gdrive/MyDrive/Partage/livres_db')

Pour modifier le répertoire courant utilisé dans votre notebook Google Colaboratory :

In [3]:
%cd /content/

/content

Pour afficher l'arborescence du répertoire courant utilisé dans votre notebook Google Colaboratory :

In [4]:
%pwd

'/content'

# Découverte du langage SQL

Nous allons découvrir le langage **SQL (Structured Query Language)**

Ce langage est le langage standard utilisé pour
effectuer des requêtes sur une base de données relationnelles. 

Vous aller réaliser les actions suivantes dans ce TP :
- créer des tables avec les attributs que l'on souhaite
- insérer des enregistrements
- faire des requêtes sur la base pour extraire des informations

Nous allons mettre à profit le Notebook pour exécuter du SQL dans ce classeur,  grâce à l'extension **ipython-sql**

Il faut donc indiquer que nous allons utiliser cette fonctionnalité en validant la cellule suivante :

In [5]:
%load_ext sql

# %reload_ext sql

Remarque, si vous rencontriez une erreur lors du chargement de l'extension, vous pourrez tenter de réinstaller les paquets nécessaires via les commandes
 ```bash
pip install jupyter-sql
pip install ipython-sql
sudo apt install python3-sql
```
puis il faudrait ensuite relancer le notebook jupyter.

## Créer la base de données

Nous allons commencer par créer une base vide dans laquelle nous allons travailler :

In [6]:
%sql sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db

'Connected: @/content/gdrive/MyDrive/TP_SQL/livres1_db.db'

In [7]:
%ls /content/gdrive/MyDrive/TP_SQL/

livres1_db.db

La base s'appelle **livres_db.db** et est au format *sqlite* qui est un gestionnaire de base de données relationnelles léger et facile à prendre en main.

Les données seront inscrites dans le fichier **livres_db.db** qui vient d'être créé via ce notebook et que vous pourrez télécharger à la fin du TP.

L'objectif est de peupler cette base de données avec la base **livres**. 

Cette base sera constituée de 4 tables :
- **Auteurs**
- **Livres**
- **Langues**
- **Themes**

## Créer une table

Vous allez donc commencer à alimenter notre base de données :  

Commençons par créer la table **Langues** en saisissant notre première requête :

In [42]:
# Si besoin de supprimer une table pré-existante :

%%sql 
DROP TABLE Langues;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[]

In [43]:
%%sql 

CREATE TABLE Langues 
(
IdLangue INTEGER  PRIMARY KEY,
Langue   TEXT
);

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[]

In [44]:
%%sql 

SELECT * FROM Langues;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[]

### Quelques explications :

Pour commencer, dans jupyter lorsque nous voulons exécuter une commande **SQL** et pas une commande en langage python. 

Pour cela, nous inscrirons **en première ligne de cellule** la commande *magique* `%%sql`. 

N'oubliez jamais de commencer toutes vos cellules ainsi car sinon, la commande sera interprétée par *python* et non *SQL*.

La première requête **SQL** que nous allons apprendre est la requête `CREATE TABLE`
- on indique le nom de la table à créer
- entre parenthèse on liste les *attributs* à mettre ainsi que leur *type*.
- une requête se termine **toujours** par ;

Nous avons deux types différents dans notre base de données :
- le type TEXT pour tout ce qui est chaîne de caractères
- le type INTEGER pour les entiers

L'attribut **IdLangue** est la *clé primaire* de la table. C'est un entier qui commence à 1 et qui sera automatiquement incrémenté au fur à mesure que l'on insère des données dans la table. C'est en indiquant `PRIMARY KEY` après le type dans la déclaration de l'attribut **IdLangue** que *sqlite* se comporte ainsi.

## Insérer des enregistrements dans la table

Maintenant que nous avons une table vide, il nous faut la remplir avec les données sur les auteurs. Nous utiliserons pour cela la requête **INSERT**. Voici son utilisation :

In [45]:
%%sql
INSERT INTO Langues 
    (Langue)
VALUES
    ("Anglais"),
    ("Français");

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
2 rows affected.

[]

### Quelques explications :

La requête **INSERT** s'utilise ainsi :
```
INSERT INTO ##TABLE##
    (## attributs dont on donne les valeurs##)
VALUES
    (## enregistrement 1 ##),
    ...
    (## enregistrement n ##);
```

On peut refaire une autre requête **INSERT** à la suite si on souhaite ajouter encore des données au bout de la table. 

Vous remarquez que l'on ne donne pas de valeur pour l'attribut **IdLangue**. C'est parce qu'on l'a déclaré en `PRIMARY KEY`. Il est donc automatiquement géré par sqlite. Nous verrons cela en lisant le contenu complet de la table.

On est pas obligé de préciser tous les attributs. **IdLangue** est un exemple particulier, mais il est possible d'omettre d'autres attributs. Ils seront alors affectés d'une valeur nulle.

A l'issue de la requête, sqlite nous informe que 2 lignes ont été créées.

## Lire le contenu d'une table

Nous allons à présent utiliser une requête **SELECT** afin de récupérer le contenu de la table. Ces requêtes peuvent être très sophistiquées comme on va le voir en fin de TP. Pour le moment, nous nous contenterons de la forme la plus simple :

In [46]:
%%sql

SELECT * FROM Langues;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[(1, 'Anglais'), (2, 'Français')]

Vous voyez donc appraître le contenu de la table. Vous constatez que la clé primaire **IdLangue** a bien été générée correctement.

Il est possible de stocker le résultat de cette requête dans une variable pour l'exploiter plus facilement dans jupyter. Voici comment procéder en modifiant légèrement la première ligne :

In [47]:
resultat = %sql SELECT * FROM Langues;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

Vous voyez au passage la syntaxe concise permettant de récupérer le résultat d'une requête dans une variable. 

Cette variable `résultat` est exploitable dans ce classeur, y compris par python !!

In [48]:
resultat

[(1, 'Anglais'), (2, 'Français')]

In [49]:
print(resultat)

+----------+----------+
| IdLangue |  Langue  |
+----------+----------+
|    1     | Anglais  |
|    2     | Français |
+----------+----------+

In [50]:
resultat[0]

(1, 'Anglais')

On a donc ici le meilleur des deux mondes : des requêtes **SQL** et une base de données pour stocker efficacement les données, le langage python pour traiter ces données grâce à des algorithmes faciles à écrire.

## A vous de jouer

Créez la table Auteurs afin que celle-ci reflète les informations suivantes :

|   Nom    |    Prenom    | annee naissance |  langue  |
|----------|--------------|-----------|----------|
|  Orwell  |    George    |    1903   | Anglais  |
| Herbert  |    Frank     |    1920   | Anglais  | 
|  Asimov  |    Isaac     |    1920   | Anglais  |
|  Huxley  |    Aldous    |    1894   | Anglais  |  
| Bradbury |     Ray      |    1920   | Anglais  | 
| K. Dick  |    Philip    |    1928   | Anglais  |  
| Barjavel |     René     |    1911   | Français | 
|  Boulle  |    Pierre    |    1912   | Français |  
| Van Vogt | Alfred Elton |    1912   | Anglais  | 
|  Verne   |    Jules     |    1828   | Français |  

Pour cela, vous utiliserez la commande de CREATE suivante pour créer la table et vous adapterez les données à cette structure.

Le DROP sert à supprimer la table s'il elle existait déjà.

In [51]:
%%sql 

DROP TABLE Auteurs;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[]

In [52]:
%%sql 
CREATE TABLE Auteurs (
    IdAuteur        INTEGER  PRIMARY KEY,
    Nom             TEXT,
    Prenom          TEXT,
    AnneeNaissance  INTEGER,
    IdLangue        INTEGER,  
    FOREIGN KEY(IdLangue) REFERENCES Langues(IdLangue)
);

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[]

Une nouveauté apparaît ici dans la création de la table : La table **Auteurs** possède une *clé étangère* : *IdLangue*. Cette clé est un entier.

Remarquez la ligne `FOREIGN KEY(IdLangue) REFERENCES Langues(IdLangue)`. Celle-ci permet de déclarer une *contrainte* sur cette clé afin d'indiquer à SQLite que *IdLangue* est une clé étrangère. SQLite sera alors responsable de maintenir la cohérence entre les deux tables que l'on a ainsi reliée.

Cette déclaration n'est pas obligatoire mais fortement conseillée.

In [53]:
%%sql
INSERT INTO Auteurs 
    (Nom,      
    Prenom,   
    AnneeNaissance,
    IdLangue)
VALUES
("Orwell","George","1903","1"),
("Herbert","Frank","1920","1"),
("Asimov","Isaac","1920","1"),
("Huxley","Aldous","1894","1"),
("Bradbury","Ray","1920","1"),
("K. Dick","Philip","1928","1"),
("Barjavel","René","1911","2"),
("Boulle","Pierre","1912","2"),
("Van Vogt","Alfred Elton","1912","1"),
("Verne","Jules","1828","2");

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
10 rows affected.

[]

In [54]:
%%sql
SELECT Nom, Prenom, AnneeNaissance, IdLangue FROM Auteurs;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[('Orwell', 'George', 1903, 1),
 ('Herbert', 'Frank', 1920, 1),
 ('Asimov', 'Isaac', 1920, 1),
 ('Huxley', 'Aldous', 1894, 1),
 ('Bradbury', 'Ray', 1920, 1),
 ('K. Dick', 'Philip', 1928, 1),
 ('Barjavel', 'René', 1911, 2),
 ('Boulle', 'Pierre', 1912, 2),
 ('Van Vogt', 'Alfred Elton', 1912, 1),
 ('Verne', 'Jules', 1828, 2)]

In [68]:
resultat = %%sql SELECT * FROM Auteurs;
resultat

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[(1, 'Orwell', 'George', 1903, 1),
 (2, 'Herbert', 'Frank', 1920, 1),
 (3, 'Asimov', 'Isaac', 1920, 1),
 (4, 'Huxley', 'Aldous', 1894, 1),
 (5, 'Bradbury', 'Ray', 1920, 1),
 (6, 'K. Dick', 'Philip', 1928, 1),
 (7, 'Barjavel', 'René', 1911, 2),
 (8, 'Boulle', 'Pierre', 1912, 2),
 (9, 'Van Vogt', 'Alfred Elton', 1912, 1),
 (10, 'Verne', 'Jules', 1828, 2)]

In [75]:
assert (1, "Orwell", "George", 1903, 1) in resultat

## A vous de jouer

Notre base n'est pas encore complète : il nous reste à créer les tables **Livres** et **Themes** qui doivent refléter le contenu suivant :

|           Titre           |   NomAuteur    |    PrenomAuteur    | AnneeNaissance |  Langue  | AnneePubli | Themes |
|---------------------------|----------|--------------|-----------|----------|-----------|------|
|            1984           |  Orwell  |    George    |    1903   | Anglais  |    1949   |  Totalitarisme, science-fiction, anticipation, Dystopie  |
|            Dune           | Herbert  |    Frank     |    1920   | Anglais  |    1965   | science-fiction, anticipation   |
|         Fondation         |  Asimov  |    Isaac     |    1920   | Anglais  |    1951   |  science-fiction, Economie  |
|   Le meilleur des mondes  |  Huxley  |    Aldous    |    1894   | Anglais  |    1931   |  Totalitarisme, science fiction, dystopie   |
|       Fahrenheit 451      | Bradbury |     Ray      |    1920   | Anglais  |    1953   |   	science-fiction, Dystopie  |
|            Ubik           | K. Dick  |    Philip    |    1928   | Anglais  |    1969   |  	science-fiction, anticipation   |
|   Chroniques martiennes   | Bradbury |     Ray      |    1920   | Anglais  |    1950   |   	science-fiction, anticipation   |
|     La nuit des temps     | Barjavel |     René     |    1911   | Français |    1968   |   	science-fiction, tragédie   |
|        Blade Runner       | K. Dick  |    Philip    |    1928   | Anglais  |    1968   |   	Intelligence artificielle, science fiction  |
|         Les Robots        |  Asimov  |    Isaac     |    1920   | Anglais  |    1950   |  science fiction, Intelligence artificielle   |
|   La Planète des singes   |  Boulle  |    Pierre    |    1912   | Français |    1963   |   	science fiction, Dystopie   |
|           Ravage          | Barjavel |     René     |    1911   | Français |    1943   |  Science-Fiction, anticipation   |
| Le Maître du Haut Château | K. Dick  |    Philip    |    1928   | Anglais  |    1962   |   	Dystopie, Uchronie  |
|       Le monde des A      | Van Vogt | Alfred Elton |    1912   | Anglais  |    1945   |   	science fiction, IA   |
|    La Fin de l’éternité   |  Asimov  |    Isaac     |    1920   | Anglais  |    1955   |  science-fiction, voyage dans le temps  |
|   De la Terre à la Lune   |  Verne   |    Jules     |    1828   | Français |    1865   |   	Science-Fiction, aventure  |

### La table LIVRES

La table **LIVRES** devra avoir la structure décrite dans l'extrait suivant :

| IdLivre |           Titre           | IdAuteur | AnneePubli |
|----|---------------------------|-----------|-----------|
| ...  |            ...          |     ...     |    ...   |
| 8  |     La nuit des temps     |     7     |    1968   |
| ...  |            ...          |     ...     |    ...   |

- l'année de publication est de type **INTEGER**
- **IdLivre** désigne bien sûr la clé primaire
- **IdAuteur** est une *clé externe* faisant référence à l'auteur.
- dans l'extrait, la clé **IdAuteur** vaut 7. L'auteur de *La nuit des temps* est donc *Barjavel*
- on ne renseigne pas la langue ou l'année de naissance de l'auteur car ces informations sont déjà présentes dans la table **Auteurs**.
- On traitera la problématique des thèmes plus tard...

Dans la cellule ci-dessous, saisissez la requête pour créer la table **Livres**

In [76]:
%%sql 

DROP TABLE Livres;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[]

In [77]:
%%sql 
CREATE TABLE Livres (
    IdLivre    INTEGER  PRIMARY KEY,
    Titre      TEXT,
    IdAuteur   INTEGER,
    AnneePubli INTEGER,
    IdLangue   INTEGER,  
    Themes     ARRAY,
    FOREIGN KEY(IdAuteur) REFERENCES Auteurs(IdAuteur),
    FOREIGN KEY(IdLangue) REFERENCES Langues(IdLangue)
);

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[]

A présent, saisissez les données à l'intérieur de la table.

In [78]:
%%sql
INSERT INTO Livres 
    (Titre,      
    IdAuteur,   
    IdLangue,
    AnneePubli,
    Themes)
VALUES
("1984","1","1","1949","Totalitarisme, science-fiction, anticipation, Dystopie"),
("Dune","2","1","1965","science-fiction, anticipation"),
("Fondation","3","1","1951","science-fiction, Economie"),
("Le meilleur des mondes","4","1","1931","Totalitarisme, science fiction, dystopie"),
("Fahrenheit 451","5","1","1953","science-fiction, Dystopie"),
("Ubik","6","1","1969","science-fiction, anticipation"),
("Chroniques martiennes","5","1","1950","science-fiction, anticipation"),
("La nuit des temps","7","2","1968","science-fiction, tragédie"),
("Blade Runner","6","1","1968","Intelligence artificielle, science fiction"),
("Les Robots","3","1","1950","science fiction, Intelligence artificielle"),
("La Planète des singes","8","2","1963","science fiction, Dystopie"),
("Ravage","7","2","1943","Science-Fiction, anticipation"),
("Le Maître du Haut Château","6","1","1962","Dystopie, Uchronie"),
("Le monde des A","9","1","1945","science fiction, IA"),
("La Fin de l’éternité","3","1","1955","science-fiction, voyage dans le temps"),
("De la Terre à la Lune","10","2","1865","Science-Fiction, aventure")
;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
16 rows affected.

[]

Vérifiez votre travail en listant tous les enregistrements de la table **LIVRES** dans la variable `resultat`

In [81]:
resultat = %sql SELECT * FROM Livres;
print(resultat)

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.
+---------+---------------------------+----------+------------+----------+--------------------------------------------------------+
| IdLivre |           Titre           | IdAuteur | AnneePubli | IdLangue |                         Themes                         |
+---------+---------------------------+----------+------------+----------+--------------------------------------------------------+
|    1    |            1984           |    1     |    1949    |    1     | Totalitarisme, science-fiction, anticipation, Dystopie |
|    2    |            Dune           |    2     |    1965    |    1     |             science-fiction, anticipation              |
|    3    |         Fondation         |    3     |    1951    |    1     |               science-fiction, Economie                |
|    4    |   Le meilleur des mondes  |    4     |    1931    |    1     |        Totalitarisme, science fiction, dystopie        |
|    5    |       Fahrenheit 451      |    5     |    1953    |    1     |               science-fiction, Dystopie                |
|    6    |            Ubik           |    6     |    1969    |    1     |             science-fiction, anticipation              |
|    7    |   Chroniques martiennes   |    5     |    1950    |    1     |             science-fiction, anticipation              |
|    8    |     La nuit des temps     |    7     |    1968    |    2     |               science-fiction, tragédie                |
|    9    |        Blade Runner       |    6     |    1968    |    1     |       Intelligence artificielle, science fiction       |
|    10   |         Les Robots        |    3     |    1950    |    1     |       science fiction, Intelligence artificielle       |
|    11   |   La Planète des singes   |    8     |    1963    |    2     |               science fiction, Dystopie                |
|    12   |           Ravage          |    7     |    1943    |    2     |             Science-Fiction, anticipation              |
|    13   | Le Maître du Haut Château |    6     |    1962    |    1     |                   Dystopie, Uchronie                   |
|    14   |       Le monde des A      |    9     |    1945    |    1     |                  science fiction, IA                   |
|    15   |    La Fin de l’éternité   |    3     |    1955    |    1     |         science-fiction, voyage dans le temps          |
|    16   |   De la Terre à la Lune   |    10    |    1865    |    2     |               Science-Fiction, aventure                |
+---------+---------------------------+----------+------------+----------+--------------------------------------------------------+

In [83]:
assert (1, "1984", 1, 1949, 1, "Totalitarisme, science-fiction, anticipation, Dystopie") in resultat

### La table Themes

Traitons à présent la problématique des Thèmes. La table Themes devra avoir la structure décrite dans l'extrait suivant :

| IdTheme | Intitule |
|----|----------|
| 1 |    Science-fiction     |
| ...  |   ...     |

- **IdTheme** désigne bien sûr la clé primaire
- **Intitule** est un champ texte contenant l'intitulé du thème tel qu'il apparaît dans le tableau global.

Dans la cellule ci-dessous, vous saisirez donc 2 requêtes :
- Une pour créer la table Themes
- Une pour insérer les données dans la table.

In [84]:
%%sql 

DROP TABLE Themes;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[]

In [85]:
%%sql 
CREATE TABLE Themes (
    IdTheme        INTEGER  PRIMARY KEY,
    Intitule       STRING
);

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[]

In [86]:
%%sql
INSERT INTO Themes 
    (Intitule)
VALUES
("science-fiction"),
("Totalitarisme"),
("anticipation"),
("dystopie"),
("économie"),
("tragédie"),
("intelligence artificielle"),
("uchronie"),
("voyage dans le temps"),
("aventure")
;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
10 rows affected.

[]

Vérifiez votre travail en lisant tous les enregistrements de la table **Themes** dans la variable `resultat`

In [87]:
resultat = %sql SELECT * FROM Themes;
print(resultat)

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.
+---------+---------------------------+
| IdTheme |          Intitule         |
+---------+---------------------------+
|    1    |      science-fiction      |
|    2    |       Totalitarisme       |
|    3    |        anticipation       |
|    4    |          dystopie         |
|    5    |          économie         |
|    6    |          tragédie         |
|    7    | intelligence artificielle |
|    8    |          uchronie         |
|    9    |    voyage dans le temps   |
|    10   |          aventure         |
+---------+---------------------------+

In [89]:
assert (1, "science-fiction") in resultat

### Une table manquante !

La saisie de notre base de donnée est incomplète ! Nous avons en effet saisi tous les auteurs, tous les livres, toutes les langues, tous les thèmes et pourtant il manque une information. Laquelle ?

Quelle solution envisager pour saisir cette information ?

Créer une table **RelationsLivreTheme** mettant en relation les livres et les thèmes associés. Saisir le contenu de cette table.

In [97]:
%%sql 

DROP TABLE RelationsLivreTheme;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
(sqlite3.OperationalError) no such table: RelationsLivreTheme
[SQL: DROP TABLE RelationsLivreTheme;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [98]:
%%sql 
CREATE TABLE RelationsLivreTheme (
    IdRelation    INTEGER  PRIMARY KEY,
    IdLivre       INTEGER,
    IdTheme       INTEGER,
    FOREIGN KEY(IdLivre) REFERENCES Livres(IdLivre),
    FOREIGN KEY(IdTheme) REFERENCES Themes(IdTheme)
);

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[]

In [99]:
%%sql
INSERT INTO RelationsLivreTheme 
    (IdLivre,      
    IdTheme)
VALUES
("1","2"),
("1","1"),
("1","3"),
("1","4"),
("2","1"),
("2","3"),
("3","1"),
("3","5"),
("4","2"),
("4","1"),
("4","4"),
("5","1"),
("5","4"),
("6","1"),
("6","3"),
("7","1"),
("7","3"),
("8","1"),
("8","6"),
("9","7"),
("9","1"),
("10","1"),
("10","7"),
("11","1"),
("11","4"),
("12","1"),
("12","3"),
("13","4"),
("13","8"),
("14","1"),
("14","7"),
("15","1"),
("15","9"),
("16","1"),
("16","10")
;

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
35 rows affected.

[]

In [100]:
resultat = %sql SELECT IdLivre, IdTheme FROM RelationsLivreTheme;
assert (1, 1) in resultat

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

## Cardinalité

En regardant notre base de données et les relations que nous avons créé entre les tables, on remarque que celles-ci ont des *cardinalités* différentes. La *cardinalité* d'une relation entre deux tables **A** et **B** exprime à combien d'enregistrements de **A** peut être relié chaque enregistrement de **B**.

Par exemple, à un livre est associé un auteur unique, mais pour un auteur donné, il peut y avoir plusieurs livres. On parle alors de **relation de 1 à n**

Lorsque plusieurs enregistrements de la table **A** peuvent être associés à plusieurs enregistrements de la table **B**, on parle alors d'une **relation de n à n**

### A vous de jouer

Citez dans la base de données
- une relation de 1 à n : 1 livre a 1 année de publi, mais une année de publi peut être commune à plusieurs livres
- une relation de n à n : livres et thèmes

### Table de relation

Pour une **relation de n à n**, nous aurons en général recours à la création d'une nouvelle table de relation contenant les clés externes des tables à mettre en relation. C'est ce que nous avons mis en oeuvre pour la table **RelationsLivreTheme**.

In [101]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:////content/gdrive/MyDrive/TP_SQL/livres1_db.db
Done.

[('Langues',),
 ('Auteurs',),
 ('Livres',),
 ('Themes',),
 ('RelationsLivreTheme',)]